.close-button {
    width: 30px !important;
    height: 30px !important;
    padding: 5px !important;
    margin: 5px !important;
    border-radius: 25px !important;
}

.header {
    text-align: center;
    color: #26a69a;
    margin: 10px 50px;
}

.btn-black {
    font-size: 20px !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0px !important;
}

.counter-wrapper {
    border: 1px solid darkblue;
    padding-top: 25px;
    margin: 5px;
    border-radius: 3rem;
    background-color: aliceblue;
}

span.badge {
    margin: 10px;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    width: 7rem;
    height: 2.2rem;
    border-radius: 15px;
}

.alert-danger {
    background-color: white !important;
    border: 1px solid red !important;
    font-weight: bold !important;
    border-radius: 3rem !important;
    font-size: 15px !important;
    margin: 10px 60px !important;
}

.total-count {
    text-align: center;
    font-size: 55px;
}

button.reset, button.delete, button.add {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.35), 0 2px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5rem;
    font-size: 15px;
    margin: 15px 30px;
    padding: 0.5rem 2rem;
}
.counter-name {
    width: 25%;
    margin: 2rem;
}

label {
    margin: 5px 10px 5px 10px;
}

.form-control {
    width: 175px !important;
    border-radius: .5rem !important;
    display: inline !important;
    margin: 3px 10px 3px 10px;
}


#edit-name {

    border: 1px solid black;
    border-radius: 8px;
    padding: 7px;
}


